.heading {
    color: #0066cc;   /* Change to your desired text color */
    font-family: 'Arial, sans-serif';  /* Change to your desired font family */
  }
  
  .bodyText {
    color: #333;  /* Change to your desired text color */
    font-family: 'Comic Sans MS';  /* Change to your desired font family */
  }