.bodyText {
    color: #080000;  /* Change to your desired text color */
    font-family: "Calibri MS";  
  }


  button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .on {
    color: #000;
  }
  .off {
    color: #ccc;
  }
